.field-name-commerce-order-total .commerce-price-formatted-components {
  width: 33%;
  margin-left: auto;
}

.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  font-weight: bold;
}

.products ul{
  display:none;
}

tr.odd {
  background: none repeat scroll 0 0 #FFFFFF;
}

tr.even {
  background: none repeat scroll 0 0 #EFEFEF;
}

.component-title {
  font-weight: bold;
}

table {
  width:100%;
  border-spacing: 0;
  font-size: 12px;
}

.views-table table td {
  text-align: center;
}

table.details td {
  padding: 0 5px;
}

table th {
  background: #000 none repeat scroll 0% 0%;
  color: #FFF;
  text-align: center;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0px none;
}

table th,
.products table td {
  padding: 4px 5px;
}

.line-items img {
  max-width: 315px;
  height: auto;
}

/* Silver Package */
.cart_sp_product {
  height: auto;
  border: 1px solid #000;
  border-radius: 5px;
  color: #FFF;
  padding: 5px;
  margin-bottom: 2px;
  max-width: 100%;
  width: 100%;
}
.cart_sp_product_select {
  color: #000;
  display: inline-block;
  width: 70%;
  padding: 0px;
}
.cart_sp_product_quantity {
  color: #000;
  text-align: right;
  display: inline-block;
  width: 20%;
  padding: 0px;
}

.views-field.views-field-field-quantity {
    text-align: center;
}

.views-field-commerce-total,
.component-total {
  width: 100px!important;
  text-align: right;
}

.line-items {
  border-bottom: 1px dotted #CCC;
}

.products table.commerce-price-formatted-components {
  width: 200px;
  padding-top: 20px;
  float: right;
}
