/*
  Login ajax page
 */
/* Ajax Window */
div.ctools-modal-content .modal-header {
  background-color: black;
  padding: 5px 0 6px 5px;
}
/* Ajax Window Close Button*/
div.ctools-modal-content a.close img {
  top: -8px;
  position: relative;
}

/*
  Buttons
*/
.buttons {
  border: 1px outset;
  padding: 10px;
  background-color: #E3E3E3;
  border-radius: 10px;
  font-size: 1.2em;
  line-height: 60px;
}

/*
  Home Page
 */
#panel-home-header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 10px 0px;
  border: 1px outset;
  border-radius: 10px;
  background-color: #eee;
}
#panel-home-header #disclaimer {
  bottom: 1em;
  color: #F00;
  font-size: .5em;
  margin-bottom: 0;
  position: relative;
}
#panel-home-left {
  float: left;
}
#panel-home-right {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  left: 30px;
}

/*
  Order Now Page
*/
#panel-order-now-top {
  float: left;
  text-align: right;
  padding-bottom: 30px;
  width: 50%;
  position: relative;
  right: 10px;
}
#panel-order-now-top-button2 {
  float: left;
  text-align: left;
  width: 50%;
  position: relative;
  left: 10px;
}
#panel-order-now-top-shipped {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
}
#panel-order-now-guarantee {
  text-align: center;
}

/*
 Card Stocks
 */
.whiteSmooth {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/whiteSmooth.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.whiteLinen {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/whiteLinen.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.softWhite {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/softWhite.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.tan {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/tan.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.gray {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/gray.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.yellow {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/yellow.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.kromekote {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/kromekote.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.woodgrain {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/woodgrain.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
/*
  Upload Artwork
 */
#panel-upload-artwork-form {
  background-color: #eee;
  border: 3px outset black;
  border-radius: 10px;
  padding: 20px;
}

/*
  Footer
 */
#footer-wrapper section {
  float: left;
  width: 33%;
}

