/*
  Login ajax page
 */
/* Theme Window*/
div.ctools-modal-content .modal-header {
    background-color: black;
    padding: 5px 0 6px 5px;
}
/* Theme Close Button*/
div.ctools-modal-content a.close img {
    bottom: 8px;
    position: relative;
}
/*
  Style Home Page
 */
#panel-home-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#panel-home-header #disclaimer {
    bottom: 15px;
    color: red;
    font-size: 10px;
    position: relative;
}
#panel-home-left {
    float: right;
}
#panel-home-left-login {

}
#panel-home-right {
    font-size: 12px;
    font-weight: bold;
    left: 15%;
    line-height: 16px;
    position: relative;
}
/*
  Format Footer
 */
section {
  float: left;
  width: 33%;
}


