/*
 Card Stocks
 */
.whiteSmooth {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/whiteSmooth.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.whiteLinen {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/whiteLinen.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.softWhite {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/softWhite.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.tan {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/tan.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.gray {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/gray.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.yellow {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/yellow.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.kromekote {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/kromekote.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
.woodgrain {
  background-image: url("/sites/all/themes/rlc/css/images/cardstocks/woodgrain.jpeg");
  border: 3px outset #000;
  height: 180px;
  margin-top: 10px;
  width: 315px;
}
